// colors
$default-white: #fff;
$default-grey: #d2d2d2;
$tk-black: #141414;
$tk-black-rgba-transparent: rgba(20, 20, 20, 0.8);
$tk-grey: #999;
$tk-text-highlight: #1474cc;
// Media queries
$break-small: 450px;
$break-medium: 991px;
$break-large: 1600px;
